@model ResetPasswordViewModel
<div class="container-fluid">

   
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h5 class="card-category">@_CommonLocalizer["ResetPassword"]</h5>
                </div>
                <div class="card-body ">
                    <form method="post" id="resetPasswordForm">
                       <input asp-for="UserId" type="hidden" />
                        <div class="form-group mt-2">
                            <label class="required">@_CommonLocalizer["NewPassword"]</label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-2">
                            <label class="required">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class=" btn btn-primary mt-2">@_CommonLocalizer["SaveBtn"]</button>
                    </form>
                </div>
                <div class="card-footer ">
                </div>
            </div>
        </div>
    </div>
</div>

